/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sp-i-arr-top-name: 'sp-i-arr-top';
$sp-i-arr-top-x: 0px;
$sp-i-arr-top-y: 0px;
$sp-i-arr-top-offset-x: 0px;
$sp-i-arr-top-offset-y: 0px;
$sp-i-arr-top-width: 56px;
$sp-i-arr-top-height: 18px;
$sp-i-arr-top-total-width: 56px;
$sp-i-arr-top-total-height: 520px;
$sp-i-arr-top-image: '../img/sprite_dat.png';
$sp-i-arr-top: (0px, 0px, 0px, 0px, 56px, 18px, 56px, 520px, '../img/sprite_dat.png', 'sp-i-arr-top', );
$sp-i-arrow-next-h-name: 'sp-i-arrow-next-h';
$sp-i-arrow-next-h-x: 0px;
$sp-i-arrow-next-h-y: 23px;
$sp-i-arrow-next-h-offset-x: 0px;
$sp-i-arrow-next-h-offset-y: -23px;
$sp-i-arrow-next-h-width: 7px;
$sp-i-arrow-next-h-height: 16px;
$sp-i-arrow-next-h-total-width: 56px;
$sp-i-arrow-next-h-total-height: 520px;
$sp-i-arrow-next-h-image: '../img/sprite_dat.png';
$sp-i-arrow-next-h: (0px, 23px, 0px, -23px, 7px, 16px, 56px, 520px, '../img/sprite_dat.png', 'sp-i-arrow-next-h', );
$sp-i-arrow-next-mobile-h-name: 'sp-i-arrow-next-mobile-h';
$sp-i-arrow-next-mobile-h-x: 0px;
$sp-i-arrow-next-mobile-h-y: 44px;
$sp-i-arrow-next-mobile-h-offset-x: 0px;
$sp-i-arrow-next-mobile-h-offset-y: -44px;
$sp-i-arrow-next-mobile-h-width: 12px;
$sp-i-arrow-next-mobile-h-height: 31px;
$sp-i-arrow-next-mobile-h-total-width: 56px;
$sp-i-arrow-next-mobile-h-total-height: 520px;
$sp-i-arrow-next-mobile-h-image: '../img/sprite_dat.png';
$sp-i-arrow-next-mobile-h: (0px, 44px, 0px, -44px, 12px, 31px, 56px, 520px, '../img/sprite_dat.png', 'sp-i-arrow-next-mobile-h', );
$sp-i-arrow-next-mobile-name: 'sp-i-arrow-next-mobile';
$sp-i-arrow-next-mobile-x: 0px;
$sp-i-arrow-next-mobile-y: 80px;
$sp-i-arrow-next-mobile-offset-x: 0px;
$sp-i-arrow-next-mobile-offset-y: -80px;
$sp-i-arrow-next-mobile-width: 12px;
$sp-i-arrow-next-mobile-height: 31px;
$sp-i-arrow-next-mobile-total-width: 56px;
$sp-i-arrow-next-mobile-total-height: 520px;
$sp-i-arrow-next-mobile-image: '../img/sprite_dat.png';
$sp-i-arrow-next-mobile: (0px, 80px, 0px, -80px, 12px, 31px, 56px, 520px, '../img/sprite_dat.png', 'sp-i-arrow-next-mobile', );
$sp-i-arrow-next-name: 'sp-i-arrow-next';
$sp-i-arrow-next-x: 0px;
$sp-i-arrow-next-y: 116px;
$sp-i-arrow-next-offset-x: 0px;
$sp-i-arrow-next-offset-y: -116px;
$sp-i-arrow-next-width: 7px;
$sp-i-arrow-next-height: 16px;
$sp-i-arrow-next-total-width: 56px;
$sp-i-arrow-next-total-height: 520px;
$sp-i-arrow-next-image: '../img/sprite_dat.png';
$sp-i-arrow-next: (0px, 116px, 0px, -116px, 7px, 16px, 56px, 520px, '../img/sprite_dat.png', 'sp-i-arrow-next', );
$sp-i-arrow-prev-h-name: 'sp-i-arrow-prev-h';
$sp-i-arrow-prev-h-x: 0px;
$sp-i-arrow-prev-h-y: 137px;
$sp-i-arrow-prev-h-offset-x: 0px;
$sp-i-arrow-prev-h-offset-y: -137px;
$sp-i-arrow-prev-h-width: 7px;
$sp-i-arrow-prev-h-height: 16px;
$sp-i-arrow-prev-h-total-width: 56px;
$sp-i-arrow-prev-h-total-height: 520px;
$sp-i-arrow-prev-h-image: '../img/sprite_dat.png';
$sp-i-arrow-prev-h: (0px, 137px, 0px, -137px, 7px, 16px, 56px, 520px, '../img/sprite_dat.png', 'sp-i-arrow-prev-h', );
$sp-i-arrow-prev-mobile-h-name: 'sp-i-arrow-prev-mobile-h';
$sp-i-arrow-prev-mobile-h-x: 0px;
$sp-i-arrow-prev-mobile-h-y: 158px;
$sp-i-arrow-prev-mobile-h-offset-x: 0px;
$sp-i-arrow-prev-mobile-h-offset-y: -158px;
$sp-i-arrow-prev-mobile-h-width: 12px;
$sp-i-arrow-prev-mobile-h-height: 29px;
$sp-i-arrow-prev-mobile-h-total-width: 56px;
$sp-i-arrow-prev-mobile-h-total-height: 520px;
$sp-i-arrow-prev-mobile-h-image: '../img/sprite_dat.png';
$sp-i-arrow-prev-mobile-h: (0px, 158px, 0px, -158px, 12px, 29px, 56px, 520px, '../img/sprite_dat.png', 'sp-i-arrow-prev-mobile-h', );
$sp-i-arrow-prev-mobile-name: 'sp-i-arrow-prev-mobile';
$sp-i-arrow-prev-mobile-x: 0px;
$sp-i-arrow-prev-mobile-y: 192px;
$sp-i-arrow-prev-mobile-offset-x: 0px;
$sp-i-arrow-prev-mobile-offset-y: -192px;
$sp-i-arrow-prev-mobile-width: 12px;
$sp-i-arrow-prev-mobile-height: 29px;
$sp-i-arrow-prev-mobile-total-width: 56px;
$sp-i-arrow-prev-mobile-total-height: 520px;
$sp-i-arrow-prev-mobile-image: '../img/sprite_dat.png';
$sp-i-arrow-prev-mobile: (0px, 192px, 0px, -192px, 12px, 29px, 56px, 520px, '../img/sprite_dat.png', 'sp-i-arrow-prev-mobile', );
$sp-i-arrow-prev-name: 'sp-i-arrow-prev';
$sp-i-arrow-prev-x: 0px;
$sp-i-arrow-prev-y: 226px;
$sp-i-arrow-prev-offset-x: 0px;
$sp-i-arrow-prev-offset-y: -226px;
$sp-i-arrow-prev-width: 7px;
$sp-i-arrow-prev-height: 16px;
$sp-i-arrow-prev-total-width: 56px;
$sp-i-arrow-prev-total-height: 520px;
$sp-i-arrow-prev-image: '../img/sprite_dat.png';
$sp-i-arrow-prev: (0px, 226px, 0px, -226px, 7px, 16px, 56px, 520px, '../img/sprite_dat.png', 'sp-i-arrow-prev', );
$sp-i-block-data-name: 'sp-i-block-data';
$sp-i-block-data-x: 0px;
$sp-i-block-data-y: 247px;
$sp-i-block-data-offset-x: 0px;
$sp-i-block-data-offset-y: -247px;
$sp-i-block-data-width: 17px;
$sp-i-block-data-height: 17px;
$sp-i-block-data-total-width: 56px;
$sp-i-block-data-total-height: 520px;
$sp-i-block-data-image: '../img/sprite_dat.png';
$sp-i-block-data: (0px, 247px, 0px, -247px, 17px, 17px, 56px, 520px, '../img/sprite_dat.png', 'sp-i-block-data', );
$sp-i-block-see-name: 'sp-i-block-see';
$sp-i-block-see-x: 0px;
$sp-i-block-see-y: 269px;
$sp-i-block-see-offset-x: 0px;
$sp-i-block-see-offset-y: -269px;
$sp-i-block-see-width: 24px;
$sp-i-block-see-height: 15px;
$sp-i-block-see-total-width: 56px;
$sp-i-block-see-total-height: 520px;
$sp-i-block-see-image: '../img/sprite_dat.png';
$sp-i-block-see: (0px, 269px, 0px, -269px, 24px, 15px, 56px, 520px, '../img/sprite_dat.png', 'sp-i-block-see', );
$sp-i-dictionary-header-name: 'sp-i-dictionary-header';
$sp-i-dictionary-header-x: 0px;
$sp-i-dictionary-header-y: 289px;
$sp-i-dictionary-header-offset-x: 0px;
$sp-i-dictionary-header-offset-y: -289px;
$sp-i-dictionary-header-width: 18px;
$sp-i-dictionary-header-height: 22px;
$sp-i-dictionary-header-total-width: 56px;
$sp-i-dictionary-header-total-height: 520px;
$sp-i-dictionary-header-image: '../img/sprite_dat.png';
$sp-i-dictionary-header: (0px, 289px, 0px, -289px, 18px, 22px, 56px, 520px, '../img/sprite_dat.png', 'sp-i-dictionary-header', );
$sp-i-dictionary-name: 'sp-i-dictionary';
$sp-i-dictionary-x: 0px;
$sp-i-dictionary-y: 316px;
$sp-i-dictionary-offset-x: 0px;
$sp-i-dictionary-offset-y: -316px;
$sp-i-dictionary-width: 20px;
$sp-i-dictionary-height: 20px;
$sp-i-dictionary-total-width: 56px;
$sp-i-dictionary-total-height: 520px;
$sp-i-dictionary-image: '../img/sprite_dat.png';
$sp-i-dictionary: (0px, 316px, 0px, -316px, 20px, 20px, 56px, 520px, '../img/sprite_dat.png', 'sp-i-dictionary', );
$sp-i-fb-name: 'sp-i-fb';
$sp-i-fb-x: 0px;
$sp-i-fb-y: 341px;
$sp-i-fb-offset-x: 0px;
$sp-i-fb-offset-y: -341px;
$sp-i-fb-width: 8px;
$sp-i-fb-height: 16px;
$sp-i-fb-total-width: 56px;
$sp-i-fb-total-height: 520px;
$sp-i-fb-image: '../img/sprite_dat.png';
$sp-i-fb: (0px, 341px, 0px, -341px, 8px, 16px, 56px, 520px, '../img/sprite_dat.png', 'sp-i-fb', );
$sp-i-lang-a-name: 'sp-i-lang-a';
$sp-i-lang-a-x: 0px;
$sp-i-lang-a-y: 362px;
$sp-i-lang-a-offset-x: 0px;
$sp-i-lang-a-offset-y: -362px;
$sp-i-lang-a-width: 19px;
$sp-i-lang-a-height: 16px;
$sp-i-lang-a-total-width: 56px;
$sp-i-lang-a-total-height: 520px;
$sp-i-lang-a-image: '../img/sprite_dat.png';
$sp-i-lang-a: (0px, 362px, 0px, -362px, 19px, 16px, 56px, 520px, '../img/sprite_dat.png', 'sp-i-lang-a', );
$sp-i-lang-h-name: 'sp-i-lang-h';
$sp-i-lang-h-x: 0px;
$sp-i-lang-h-y: 383px;
$sp-i-lang-h-offset-x: 0px;
$sp-i-lang-h-offset-y: -383px;
$sp-i-lang-h-width: 19px;
$sp-i-lang-h-height: 16px;
$sp-i-lang-h-total-width: 56px;
$sp-i-lang-h-total-height: 520px;
$sp-i-lang-h-image: '../img/sprite_dat.png';
$sp-i-lang-h: (0px, 383px, 0px, -383px, 19px, 16px, 56px, 520px, '../img/sprite_dat.png', 'sp-i-lang-h', );
$sp-i-lang-n-name: 'sp-i-lang-n';
$sp-i-lang-n-x: 0px;
$sp-i-lang-n-y: 404px;
$sp-i-lang-n-offset-x: 0px;
$sp-i-lang-n-offset-y: -404px;
$sp-i-lang-n-width: 19px;
$sp-i-lang-n-height: 16px;
$sp-i-lang-n-total-width: 56px;
$sp-i-lang-n-total-height: 520px;
$sp-i-lang-n-image: '../img/sprite_dat.png';
$sp-i-lang-n: (0px, 404px, 0px, -404px, 19px, 16px, 56px, 520px, '../img/sprite_dat.png', 'sp-i-lang-n', );
$sp-i-logo-septa-name: 'sp-i-logo-septa';
$sp-i-logo-septa-x: 0px;
$sp-i-logo-septa-y: 425px;
$sp-i-logo-septa-offset-x: 0px;
$sp-i-logo-septa-offset-y: -425px;
$sp-i-logo-septa-width: 45px;
$sp-i-logo-septa-height: 35px;
$sp-i-logo-septa-total-width: 56px;
$sp-i-logo-septa-total-height: 520px;
$sp-i-logo-septa-image: '../img/sprite_dat.png';
$sp-i-logo-septa: (0px, 425px, 0px, -425px, 45px, 35px, 56px, 520px, '../img/sprite_dat.png', 'sp-i-logo-septa', );
$sp-i-search-mobile-name: 'sp-i-search-mobile';
$sp-i-search-mobile-x: 0px;
$sp-i-search-mobile-y: 465px;
$sp-i-search-mobile-offset-x: 0px;
$sp-i-search-mobile-offset-y: -465px;
$sp-i-search-mobile-width: 12px;
$sp-i-search-mobile-height: 11px;
$sp-i-search-mobile-total-width: 56px;
$sp-i-search-mobile-total-height: 520px;
$sp-i-search-mobile-image: '../img/sprite_dat.png';
$sp-i-search-mobile: (0px, 465px, 0px, -465px, 12px, 11px, 56px, 520px, '../img/sprite_dat.png', 'sp-i-search-mobile', );
$sp-i-search-name: 'sp-i-search';
$sp-i-search-x: 0px;
$sp-i-search-y: 481px;
$sp-i-search-offset-x: 0px;
$sp-i-search-offset-y: -481px;
$sp-i-search-width: 22px;
$sp-i-search-height: 20px;
$sp-i-search-total-width: 56px;
$sp-i-search-total-height: 520px;
$sp-i-search-image: '../img/sprite_dat.png';
$sp-i-search: (0px, 481px, 0px, -481px, 22px, 20px, 56px, 520px, '../img/sprite_dat.png', 'sp-i-search', );
$sp-i-triangle-name: 'sp-i-triangle';
$sp-i-triangle-x: 0px;
$sp-i-triangle-y: 506px;
$sp-i-triangle-offset-x: 0px;
$sp-i-triangle-offset-y: -506px;
$sp-i-triangle-width: 12px;
$sp-i-triangle-height: 14px;
$sp-i-triangle-total-width: 56px;
$sp-i-triangle-total-height: 520px;
$sp-i-triangle-image: '../img/sprite_dat.png';
$sp-i-triangle: (0px, 506px, 0px, -506px, 12px, 14px, 56px, 520px, '../img/sprite_dat.png', 'sp-i-triangle', );
$sp-i-arr-top-2x-name: 'sp-i-arr-top@2x';
$sp-i-arr-top-2x-x: 0px;
$sp-i-arr-top-2x-y: 0px;
$sp-i-arr-top-2x-offset-x: 0px;
$sp-i-arr-top-2x-offset-y: 0px;
$sp-i-arr-top-2x-width: 112px;
$sp-i-arr-top-2x-height: 36px;
$sp-i-arr-top-2x-total-width: 112px;
$sp-i-arr-top-2x-total-height: 1040px;
$sp-i-arr-top-2x-image: '../img/sprite_dat@2x.png';
$sp-i-arr-top-2x: (0px, 0px, 0px, 0px, 112px, 36px, 112px, 1040px, '../img/sprite_dat@2x.png', 'sp-i-arr-top@2x', );
$sp-i-arrow-next-h-2x-name: 'sp-i-arrow-next-h@2x';
$sp-i-arrow-next-h-2x-x: 0px;
$sp-i-arrow-next-h-2x-y: 46px;
$sp-i-arrow-next-h-2x-offset-x: 0px;
$sp-i-arrow-next-h-2x-offset-y: -46px;
$sp-i-arrow-next-h-2x-width: 14px;
$sp-i-arrow-next-h-2x-height: 32px;
$sp-i-arrow-next-h-2x-total-width: 112px;
$sp-i-arrow-next-h-2x-total-height: 1040px;
$sp-i-arrow-next-h-2x-image: '../img/sprite_dat@2x.png';
$sp-i-arrow-next-h-2x: (0px, 46px, 0px, -46px, 14px, 32px, 112px, 1040px, '../img/sprite_dat@2x.png', 'sp-i-arrow-next-h@2x', );
$sp-i-arrow-next-mobile-h-2x-name: 'sp-i-arrow-next-mobile-h@2x';
$sp-i-arrow-next-mobile-h-2x-x: 0px;
$sp-i-arrow-next-mobile-h-2x-y: 88px;
$sp-i-arrow-next-mobile-h-2x-offset-x: 0px;
$sp-i-arrow-next-mobile-h-2x-offset-y: -88px;
$sp-i-arrow-next-mobile-h-2x-width: 24px;
$sp-i-arrow-next-mobile-h-2x-height: 62px;
$sp-i-arrow-next-mobile-h-2x-total-width: 112px;
$sp-i-arrow-next-mobile-h-2x-total-height: 1040px;
$sp-i-arrow-next-mobile-h-2x-image: '../img/sprite_dat@2x.png';
$sp-i-arrow-next-mobile-h-2x: (0px, 88px, 0px, -88px, 24px, 62px, 112px, 1040px, '../img/sprite_dat@2x.png', 'sp-i-arrow-next-mobile-h@2x', );
$sp-i-arrow-next-mobile-2x-name: 'sp-i-arrow-next-mobile@2x';
$sp-i-arrow-next-mobile-2x-x: 0px;
$sp-i-arrow-next-mobile-2x-y: 160px;
$sp-i-arrow-next-mobile-2x-offset-x: 0px;
$sp-i-arrow-next-mobile-2x-offset-y: -160px;
$sp-i-arrow-next-mobile-2x-width: 24px;
$sp-i-arrow-next-mobile-2x-height: 62px;
$sp-i-arrow-next-mobile-2x-total-width: 112px;
$sp-i-arrow-next-mobile-2x-total-height: 1040px;
$sp-i-arrow-next-mobile-2x-image: '../img/sprite_dat@2x.png';
$sp-i-arrow-next-mobile-2x: (0px, 160px, 0px, -160px, 24px, 62px, 112px, 1040px, '../img/sprite_dat@2x.png', 'sp-i-arrow-next-mobile@2x', );
$sp-i-arrow-next-2x-name: 'sp-i-arrow-next@2x';
$sp-i-arrow-next-2x-x: 0px;
$sp-i-arrow-next-2x-y: 232px;
$sp-i-arrow-next-2x-offset-x: 0px;
$sp-i-arrow-next-2x-offset-y: -232px;
$sp-i-arrow-next-2x-width: 14px;
$sp-i-arrow-next-2x-height: 32px;
$sp-i-arrow-next-2x-total-width: 112px;
$sp-i-arrow-next-2x-total-height: 1040px;
$sp-i-arrow-next-2x-image: '../img/sprite_dat@2x.png';
$sp-i-arrow-next-2x: (0px, 232px, 0px, -232px, 14px, 32px, 112px, 1040px, '../img/sprite_dat@2x.png', 'sp-i-arrow-next@2x', );
$sp-i-arrow-prev-h-2x-name: 'sp-i-arrow-prev-h@2x';
$sp-i-arrow-prev-h-2x-x: 0px;
$sp-i-arrow-prev-h-2x-y: 274px;
$sp-i-arrow-prev-h-2x-offset-x: 0px;
$sp-i-arrow-prev-h-2x-offset-y: -274px;
$sp-i-arrow-prev-h-2x-width: 14px;
$sp-i-arrow-prev-h-2x-height: 32px;
$sp-i-arrow-prev-h-2x-total-width: 112px;
$sp-i-arrow-prev-h-2x-total-height: 1040px;
$sp-i-arrow-prev-h-2x-image: '../img/sprite_dat@2x.png';
$sp-i-arrow-prev-h-2x: (0px, 274px, 0px, -274px, 14px, 32px, 112px, 1040px, '../img/sprite_dat@2x.png', 'sp-i-arrow-prev-h@2x', );
$sp-i-arrow-prev-mobile-h-2x-name: 'sp-i-arrow-prev-mobile-h@2x';
$sp-i-arrow-prev-mobile-h-2x-x: 0px;
$sp-i-arrow-prev-mobile-h-2x-y: 316px;
$sp-i-arrow-prev-mobile-h-2x-offset-x: 0px;
$sp-i-arrow-prev-mobile-h-2x-offset-y: -316px;
$sp-i-arrow-prev-mobile-h-2x-width: 24px;
$sp-i-arrow-prev-mobile-h-2x-height: 58px;
$sp-i-arrow-prev-mobile-h-2x-total-width: 112px;
$sp-i-arrow-prev-mobile-h-2x-total-height: 1040px;
$sp-i-arrow-prev-mobile-h-2x-image: '../img/sprite_dat@2x.png';
$sp-i-arrow-prev-mobile-h-2x: (0px, 316px, 0px, -316px, 24px, 58px, 112px, 1040px, '../img/sprite_dat@2x.png', 'sp-i-arrow-prev-mobile-h@2x', );
$sp-i-arrow-prev-mobile-2x-name: 'sp-i-arrow-prev-mobile@2x';
$sp-i-arrow-prev-mobile-2x-x: 0px;
$sp-i-arrow-prev-mobile-2x-y: 384px;
$sp-i-arrow-prev-mobile-2x-offset-x: 0px;
$sp-i-arrow-prev-mobile-2x-offset-y: -384px;
$sp-i-arrow-prev-mobile-2x-width: 24px;
$sp-i-arrow-prev-mobile-2x-height: 58px;
$sp-i-arrow-prev-mobile-2x-total-width: 112px;
$sp-i-arrow-prev-mobile-2x-total-height: 1040px;
$sp-i-arrow-prev-mobile-2x-image: '../img/sprite_dat@2x.png';
$sp-i-arrow-prev-mobile-2x: (0px, 384px, 0px, -384px, 24px, 58px, 112px, 1040px, '../img/sprite_dat@2x.png', 'sp-i-arrow-prev-mobile@2x', );
$sp-i-arrow-prev-2x-name: 'sp-i-arrow-prev@2x';
$sp-i-arrow-prev-2x-x: 0px;
$sp-i-arrow-prev-2x-y: 452px;
$sp-i-arrow-prev-2x-offset-x: 0px;
$sp-i-arrow-prev-2x-offset-y: -452px;
$sp-i-arrow-prev-2x-width: 14px;
$sp-i-arrow-prev-2x-height: 32px;
$sp-i-arrow-prev-2x-total-width: 112px;
$sp-i-arrow-prev-2x-total-height: 1040px;
$sp-i-arrow-prev-2x-image: '../img/sprite_dat@2x.png';
$sp-i-arrow-prev-2x: (0px, 452px, 0px, -452px, 14px, 32px, 112px, 1040px, '../img/sprite_dat@2x.png', 'sp-i-arrow-prev@2x', );
$sp-i-block-data-2x-name: 'sp-i-block-data@2x';
$sp-i-block-data-2x-x: 0px;
$sp-i-block-data-2x-y: 494px;
$sp-i-block-data-2x-offset-x: 0px;
$sp-i-block-data-2x-offset-y: -494px;
$sp-i-block-data-2x-width: 34px;
$sp-i-block-data-2x-height: 34px;
$sp-i-block-data-2x-total-width: 112px;
$sp-i-block-data-2x-total-height: 1040px;
$sp-i-block-data-2x-image: '../img/sprite_dat@2x.png';
$sp-i-block-data-2x: (0px, 494px, 0px, -494px, 34px, 34px, 112px, 1040px, '../img/sprite_dat@2x.png', 'sp-i-block-data@2x', );
$sp-i-block-see-2x-name: 'sp-i-block-see@2x';
$sp-i-block-see-2x-x: 0px;
$sp-i-block-see-2x-y: 538px;
$sp-i-block-see-2x-offset-x: 0px;
$sp-i-block-see-2x-offset-y: -538px;
$sp-i-block-see-2x-width: 48px;
$sp-i-block-see-2x-height: 30px;
$sp-i-block-see-2x-total-width: 112px;
$sp-i-block-see-2x-total-height: 1040px;
$sp-i-block-see-2x-image: '../img/sprite_dat@2x.png';
$sp-i-block-see-2x: (0px, 538px, 0px, -538px, 48px, 30px, 112px, 1040px, '../img/sprite_dat@2x.png', 'sp-i-block-see@2x', );
$sp-i-dictionary-header-2x-name: 'sp-i-dictionary-header@2x';
$sp-i-dictionary-header-2x-x: 0px;
$sp-i-dictionary-header-2x-y: 578px;
$sp-i-dictionary-header-2x-offset-x: 0px;
$sp-i-dictionary-header-2x-offset-y: -578px;
$sp-i-dictionary-header-2x-width: 36px;
$sp-i-dictionary-header-2x-height: 44px;
$sp-i-dictionary-header-2x-total-width: 112px;
$sp-i-dictionary-header-2x-total-height: 1040px;
$sp-i-dictionary-header-2x-image: '../img/sprite_dat@2x.png';
$sp-i-dictionary-header-2x: (0px, 578px, 0px, -578px, 36px, 44px, 112px, 1040px, '../img/sprite_dat@2x.png', 'sp-i-dictionary-header@2x', );
$sp-i-dictionary-2x-name: 'sp-i-dictionary@2x';
$sp-i-dictionary-2x-x: 0px;
$sp-i-dictionary-2x-y: 632px;
$sp-i-dictionary-2x-offset-x: 0px;
$sp-i-dictionary-2x-offset-y: -632px;
$sp-i-dictionary-2x-width: 40px;
$sp-i-dictionary-2x-height: 40px;
$sp-i-dictionary-2x-total-width: 112px;
$sp-i-dictionary-2x-total-height: 1040px;
$sp-i-dictionary-2x-image: '../img/sprite_dat@2x.png';
$sp-i-dictionary-2x: (0px, 632px, 0px, -632px, 40px, 40px, 112px, 1040px, '../img/sprite_dat@2x.png', 'sp-i-dictionary@2x', );
$sp-i-fb-2x-name: 'sp-i-fb@2x';
$sp-i-fb-2x-x: 0px;
$sp-i-fb-2x-y: 682px;
$sp-i-fb-2x-offset-x: 0px;
$sp-i-fb-2x-offset-y: -682px;
$sp-i-fb-2x-width: 16px;
$sp-i-fb-2x-height: 32px;
$sp-i-fb-2x-total-width: 112px;
$sp-i-fb-2x-total-height: 1040px;
$sp-i-fb-2x-image: '../img/sprite_dat@2x.png';
$sp-i-fb-2x: (0px, 682px, 0px, -682px, 16px, 32px, 112px, 1040px, '../img/sprite_dat@2x.png', 'sp-i-fb@2x', );
$sp-i-lang-a-2x-name: 'sp-i-lang-a@2x';
$sp-i-lang-a-2x-x: 0px;
$sp-i-lang-a-2x-y: 724px;
$sp-i-lang-a-2x-offset-x: 0px;
$sp-i-lang-a-2x-offset-y: -724px;
$sp-i-lang-a-2x-width: 38px;
$sp-i-lang-a-2x-height: 32px;
$sp-i-lang-a-2x-total-width: 112px;
$sp-i-lang-a-2x-total-height: 1040px;
$sp-i-lang-a-2x-image: '../img/sprite_dat@2x.png';
$sp-i-lang-a-2x: (0px, 724px, 0px, -724px, 38px, 32px, 112px, 1040px, '../img/sprite_dat@2x.png', 'sp-i-lang-a@2x', );
$sp-i-lang-h-2x-name: 'sp-i-lang-h@2x';
$sp-i-lang-h-2x-x: 0px;
$sp-i-lang-h-2x-y: 766px;
$sp-i-lang-h-2x-offset-x: 0px;
$sp-i-lang-h-2x-offset-y: -766px;
$sp-i-lang-h-2x-width: 38px;
$sp-i-lang-h-2x-height: 32px;
$sp-i-lang-h-2x-total-width: 112px;
$sp-i-lang-h-2x-total-height: 1040px;
$sp-i-lang-h-2x-image: '../img/sprite_dat@2x.png';
$sp-i-lang-h-2x: (0px, 766px, 0px, -766px, 38px, 32px, 112px, 1040px, '../img/sprite_dat@2x.png', 'sp-i-lang-h@2x', );
$sp-i-lang-n-2x-name: 'sp-i-lang-n@2x';
$sp-i-lang-n-2x-x: 0px;
$sp-i-lang-n-2x-y: 808px;
$sp-i-lang-n-2x-offset-x: 0px;
$sp-i-lang-n-2x-offset-y: -808px;
$sp-i-lang-n-2x-width: 38px;
$sp-i-lang-n-2x-height: 32px;
$sp-i-lang-n-2x-total-width: 112px;
$sp-i-lang-n-2x-total-height: 1040px;
$sp-i-lang-n-2x-image: '../img/sprite_dat@2x.png';
$sp-i-lang-n-2x: (0px, 808px, 0px, -808px, 38px, 32px, 112px, 1040px, '../img/sprite_dat@2x.png', 'sp-i-lang-n@2x', );
$sp-i-logo-septa-2x-name: 'sp-i-logo-septa@2x';
$sp-i-logo-septa-2x-x: 0px;
$sp-i-logo-septa-2x-y: 850px;
$sp-i-logo-septa-2x-offset-x: 0px;
$sp-i-logo-septa-2x-offset-y: -850px;
$sp-i-logo-septa-2x-width: 90px;
$sp-i-logo-septa-2x-height: 70px;
$sp-i-logo-septa-2x-total-width: 112px;
$sp-i-logo-septa-2x-total-height: 1040px;
$sp-i-logo-septa-2x-image: '../img/sprite_dat@2x.png';
$sp-i-logo-septa-2x: (0px, 850px, 0px, -850px, 90px, 70px, 112px, 1040px, '../img/sprite_dat@2x.png', 'sp-i-logo-septa@2x', );
$sp-i-search-mobile-2x-name: 'sp-i-search-mobile@2x';
$sp-i-search-mobile-2x-x: 0px;
$sp-i-search-mobile-2x-y: 930px;
$sp-i-search-mobile-2x-offset-x: 0px;
$sp-i-search-mobile-2x-offset-y: -930px;
$sp-i-search-mobile-2x-width: 24px;
$sp-i-search-mobile-2x-height: 22px;
$sp-i-search-mobile-2x-total-width: 112px;
$sp-i-search-mobile-2x-total-height: 1040px;
$sp-i-search-mobile-2x-image: '../img/sprite_dat@2x.png';
$sp-i-search-mobile-2x: (0px, 930px, 0px, -930px, 24px, 22px, 112px, 1040px, '../img/sprite_dat@2x.png', 'sp-i-search-mobile@2x', );
$sp-i-search-2x-name: 'sp-i-search@2x';
$sp-i-search-2x-x: 0px;
$sp-i-search-2x-y: 962px;
$sp-i-search-2x-offset-x: 0px;
$sp-i-search-2x-offset-y: -962px;
$sp-i-search-2x-width: 44px;
$sp-i-search-2x-height: 40px;
$sp-i-search-2x-total-width: 112px;
$sp-i-search-2x-total-height: 1040px;
$sp-i-search-2x-image: '../img/sprite_dat@2x.png';
$sp-i-search-2x: (0px, 962px, 0px, -962px, 44px, 40px, 112px, 1040px, '../img/sprite_dat@2x.png', 'sp-i-search@2x', );
$sp-i-triangle-2x-name: 'sp-i-triangle@2x';
$sp-i-triangle-2x-x: 0px;
$sp-i-triangle-2x-y: 1012px;
$sp-i-triangle-2x-offset-x: 0px;
$sp-i-triangle-2x-offset-y: -1012px;
$sp-i-triangle-2x-width: 24px;
$sp-i-triangle-2x-height: 28px;
$sp-i-triangle-2x-total-width: 112px;
$sp-i-triangle-2x-total-height: 1040px;
$sp-i-triangle-2x-image: '../img/sprite_dat@2x.png';
$sp-i-triangle-2x: (0px, 1012px, 0px, -1012px, 24px, 28px, 112px, 1040px, '../img/sprite_dat@2x.png', 'sp-i-triangle@2x', );
$spritesheet-width: 56px;
$spritesheet-height: 520px;
$spritesheet-image: '../img/sprite_dat.png';
$spritesheet-sprites: ($sp-i-arr-top, $sp-i-arrow-next-h, $sp-i-arrow-next-mobile-h, $sp-i-arrow-next-mobile, $sp-i-arrow-next, $sp-i-arrow-prev-h, $sp-i-arrow-prev-mobile-h, $sp-i-arrow-prev-mobile, $sp-i-arrow-prev, $sp-i-block-data, $sp-i-block-see, $sp-i-dictionary-header, $sp-i-dictionary, $sp-i-fb, $sp-i-lang-a, $sp-i-lang-h, $sp-i-lang-n, $sp-i-logo-septa, $sp-i-search-mobile, $sp-i-search, $sp-i-triangle, );
$spritesheet: (56px, 520px, '../img/sprite_dat.png', $spritesheet-sprites, );
$retina-spritesheet-width: 112px;
$retina-spritesheet-height: 1040px;
$retina-spritesheet-image: '../img/sprite_dat@2x.png';
$retina-spritesheet-sprites: ($sp-i-arr-top-2x, $sp-i-arrow-next-h-2x, $sp-i-arrow-next-mobile-h-2x, $sp-i-arrow-next-mobile-2x, $sp-i-arrow-next-2x, $sp-i-arrow-prev-h-2x, $sp-i-arrow-prev-mobile-h-2x, $sp-i-arrow-prev-mobile-2x, $sp-i-arrow-prev-2x, $sp-i-block-data-2x, $sp-i-block-see-2x, $sp-i-dictionary-header-2x, $sp-i-dictionary-2x, $sp-i-fb-2x, $sp-i-lang-a-2x, $sp-i-lang-h-2x, $sp-i-lang-n-2x, $sp-i-logo-septa-2x, $sp-i-search-mobile-2x, $sp-i-search-2x, $sp-i-triangle-2x, );
$retina-spritesheet: (112px, 1040px, '../img/sprite_dat@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sp-i-arr-top-group-name: 'sp-i-arr-top';
$sp-i-arr-top-group: ('sp-i-arr-top', $sp-i-arr-top, $sp-i-arr-top-2x, );
$sp-i-arrow-next-h-group-name: 'sp-i-arrow-next-h';
$sp-i-arrow-next-h-group: ('sp-i-arrow-next-h', $sp-i-arrow-next-h, $sp-i-arrow-next-h-2x, );
$sp-i-arrow-next-mobile-h-group-name: 'sp-i-arrow-next-mobile-h';
$sp-i-arrow-next-mobile-h-group: ('sp-i-arrow-next-mobile-h', $sp-i-arrow-next-mobile-h, $sp-i-arrow-next-mobile-h-2x, );
$sp-i-arrow-next-mobile-group-name: 'sp-i-arrow-next-mobile';
$sp-i-arrow-next-mobile-group: ('sp-i-arrow-next-mobile', $sp-i-arrow-next-mobile, $sp-i-arrow-next-mobile-2x, );
$sp-i-arrow-next-group-name: 'sp-i-arrow-next';
$sp-i-arrow-next-group: ('sp-i-arrow-next', $sp-i-arrow-next, $sp-i-arrow-next-2x, );
$sp-i-arrow-prev-h-group-name: 'sp-i-arrow-prev-h';
$sp-i-arrow-prev-h-group: ('sp-i-arrow-prev-h', $sp-i-arrow-prev-h, $sp-i-arrow-prev-h-2x, );
$sp-i-arrow-prev-mobile-h-group-name: 'sp-i-arrow-prev-mobile-h';
$sp-i-arrow-prev-mobile-h-group: ('sp-i-arrow-prev-mobile-h', $sp-i-arrow-prev-mobile-h, $sp-i-arrow-prev-mobile-h-2x, );
$sp-i-arrow-prev-mobile-group-name: 'sp-i-arrow-prev-mobile';
$sp-i-arrow-prev-mobile-group: ('sp-i-arrow-prev-mobile', $sp-i-arrow-prev-mobile, $sp-i-arrow-prev-mobile-2x, );
$sp-i-arrow-prev-group-name: 'sp-i-arrow-prev';
$sp-i-arrow-prev-group: ('sp-i-arrow-prev', $sp-i-arrow-prev, $sp-i-arrow-prev-2x, );
$sp-i-block-data-group-name: 'sp-i-block-data';
$sp-i-block-data-group: ('sp-i-block-data', $sp-i-block-data, $sp-i-block-data-2x, );
$sp-i-block-see-group-name: 'sp-i-block-see';
$sp-i-block-see-group: ('sp-i-block-see', $sp-i-block-see, $sp-i-block-see-2x, );
$sp-i-dictionary-header-group-name: 'sp-i-dictionary-header';
$sp-i-dictionary-header-group: ('sp-i-dictionary-header', $sp-i-dictionary-header, $sp-i-dictionary-header-2x, );
$sp-i-dictionary-group-name: 'sp-i-dictionary';
$sp-i-dictionary-group: ('sp-i-dictionary', $sp-i-dictionary, $sp-i-dictionary-2x, );
$sp-i-fb-group-name: 'sp-i-fb';
$sp-i-fb-group: ('sp-i-fb', $sp-i-fb, $sp-i-fb-2x, );
$sp-i-lang-a-group-name: 'sp-i-lang-a';
$sp-i-lang-a-group: ('sp-i-lang-a', $sp-i-lang-a, $sp-i-lang-a-2x, );
$sp-i-lang-h-group-name: 'sp-i-lang-h';
$sp-i-lang-h-group: ('sp-i-lang-h', $sp-i-lang-h, $sp-i-lang-h-2x, );
$sp-i-lang-n-group-name: 'sp-i-lang-n';
$sp-i-lang-n-group: ('sp-i-lang-n', $sp-i-lang-n, $sp-i-lang-n-2x, );
$sp-i-logo-septa-group-name: 'sp-i-logo-septa';
$sp-i-logo-septa-group: ('sp-i-logo-septa', $sp-i-logo-septa, $sp-i-logo-septa-2x, );
$sp-i-search-mobile-group-name: 'sp-i-search-mobile';
$sp-i-search-mobile-group: ('sp-i-search-mobile', $sp-i-search-mobile, $sp-i-search-mobile-2x, );
$sp-i-search-group-name: 'sp-i-search';
$sp-i-search-group: ('sp-i-search', $sp-i-search, $sp-i-search-2x, );
$sp-i-triangle-group-name: 'sp-i-triangle';
$sp-i-triangle-group: ('sp-i-triangle', $sp-i-triangle, $sp-i-triangle-2x, );
$retina-groups: ($sp-i-arr-top-group, $sp-i-arrow-next-h-group, $sp-i-arrow-next-mobile-h-group, $sp-i-arrow-next-mobile-group, $sp-i-arrow-next-group, $sp-i-arrow-prev-h-group, $sp-i-arrow-prev-mobile-h-group, $sp-i-arrow-prev-mobile-group, $sp-i-arrow-prev-group, $sp-i-block-data-group, $sp-i-block-see-group, $sp-i-dictionary-header-group, $sp-i-dictionary-group, $sp-i-fb-group, $sp-i-lang-a-group, $sp-i-lang-h-group, $sp-i-lang-n-group, $sp-i-logo-septa-group, $sp-i-search-mobile-group, $sp-i-search-group, $sp-i-triangle-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
