
.search.clearfix
    a(href="javascript:void(0);", class="search__btn")
        i.search__btn-icon

form(action="", class="search__form")
    input(type="text", name="search", placeholder="Поиск", class="search__input")