//- HEAD
mixin headSite(titleName, styleFile, arrFontName)
    head
        //- META TAGS
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="x-ua-compatible" content="ie=edge")

        //- TITLE
        title!= titleName

        //- FAVICON
        //link(rel="icon" type="image/png" href="./img/favicon.png")

        //- LINK CSS
        - for(var i = 0, styleFileLength = styleFile.length; i < styleFileLength; i++)
            link(href= styleFile[i], rel="stylesheet")

        //- LINK FONTS
        - for(var j = 0, arrFontNameLength = arrFontName.length; j < arrFontNameLength; j++)
            link(href= arrFontName[j], rel='stylesheet')


//- NEWS BLOCK
mixin newsBLock(className, title)
    div(class="block clearfix " + className)
        .block__img-wrap
            img(src="./img/img-block-0.png", class="block__img", alt="", title="")

        .block__text-wrap
            p.block__title!= title

            hr.block__line

            .block__info.clearfix
                p.block__info-data
                    i.icon
                    | 4.12.2016
                p.block__info-see
                    i.icon
                    | 2648


mixin blockNewsLoop(classMain, countNum, addClassCount, className)
    div(class="blocks__row " + classMain)
        -for(var i = 0; i < countNum; i++)
            if(i < addClassCount)
                if(i % 2 === 0)
                    +newsBLock("", "Что гложет украинский e-commerce? Владислав Чечеткин, основатель и совладелец Rozetka.ua.")
                else
                    +newsBLock("", "Что гложет украинский e-commerce? Владислав Чечеткин, основатель и совладелец Rozetka.ua. Что гложет украинский e-commerce? Владислав Чечеткин, основатель и совладелец Rozetka.ua.")
            else
                if(i === addClassCount)
                    +newsBLock(className, "Что гложет украинский e-commerce?")
                else
                    +newsBLock(className, "Что гложет украинский e-commerce? Владислав Чечеткин, основатель и совладелец Rozetka")

