@import "../_mixin/mixin";
@import "../_function/function";

@import "../_variable/sprite_dat";
///
/// DECLARATION VARIABLE
///
$c-eclipse          : return-value(color, eclipse);
$c-nobel            : return-value(color, nobel);
$c-shakespeare      : return-value(color, shakespeare);
$c-cerulean         : return-value(color, cerulean);

$f-PN_bold          : return-value(fonts, PN_bold);
///
/// MAIN
///
.block {
	cursor: pointer;
	max-width: 300px;
	margin-bottom: 40px;
	margin-right: 90px;
	@include respond-to(large) {
		width: 270px;
		margin-right: 30px;
	}
	@include respond-to(medium-all) {
		margin-right: 0;
		&_hide {
			display: none;
		}
	}
	@include respond-to(small-all) {
		max-width: 100%;
	}


	.blocks & {
		margin-right: 115px;
		@include respond-to(large) {
			margin-right: 35px;
		}
	}


	&:hover {
		.block__title {
		  color: $c-shakespeare;
			transition: all .3s ease-in-out;
		}
	}


	&:active {
		.block__title {
		  color: $c-cerulean;
		}
	}


	&__img {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);


		&-wrap {
			@include mixinDimensions(300px, 250px);
			overflow: hidden;
			margin-bottom: 20px;
			position: relative;
			@include respond-to(large) {
				width: 270px;
			}
		}
	}


	&__img-wrap {
		@include respond-to(small-all) {
			@include mixinDimensions(145px, 121px);
		}
	}


	&__text-wrap {
		@include respond-to(small-all) {
			width: calc(100% - 145px);
			padding-left: 10px;
		}
	}


	&__img-wrap,
	&__text-wrap {
		@include respond-to(small-all) {
			float: left;
		}
	}


	&__title {
		font: {
			family: $f-PN_bold;
			size: 18px;
		}
		@include respond-to(small-all) {
			font-size: 14px;
		}
	}


	&__line {
		border: none;
		height: 2px;
		margin-top: 10px;
		margin-bottom: 10px;
		background-color: $c-eclipse;
	}


	&__info {
		color: $c-nobel;
		font-family: $f-PN_bold;
		@include respond-to(small-all) {
			font-size: 12px;
		}


		&-data {
			float: left;


			.icon {
				@include retina-sprite($sp-i-block-data-group);
			}
		}


		&-see {
			float: right;
			@include respond-to(extra-small) {
				margin-right: 5px;
			}


			.icon {
				@include retina-sprite($sp-i-block-see-group);
			}
		}


		&-data,
		&-see {
			.icon {
				display: inline-block;
				margin-right: 10px;
				position: relative;
				top: -2px;
				vertical-align: middle;
				@include respond-to(extra-small) {
					margin-right: 5px;
				}
			}
		}
	}
}


@media screen and (min-width: 1320px) {
	.btn__fb {
		position: fixed;
		z-index: 100;
		right: 0;
		top: 190px;
		@include mixinDimensions(70px, 56px);
		background-color: #3b5998;


		&:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 5px;
			margin: auto;
			@include retina-sprite($sp-i-fb-group);
		}
	}
}
