///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
$c-eclipse          : return-value(color, eclipse);
$c-shakespeare      : return-value(color, shakespeare);
$c-cerulean         : return-value(color, cerulean);
$c-white_smoke      : return-value(color, white_smoke);

$f-PN_black         : return-value(fonts, PN_black);
$f-PN_bold          : return-value(fonts, PN_bold);
///
/// MAIN BLOCK
///
.advertising {


	.blocks__internal &{
		.advertising__bottom {
			@include respond-to(medium) {
				float: left;
				width: 50%;
			}
		}
	}


	&__item {
		min-height: 100px;
		padding: 30px 15px 20px 30px;
		background-color: $c-white;
		border-bottom: 1px solid darken($c-white_smoke, 5%);
	}


	&__img-wrap {
		width: 90px;
	}


	&__text-wrap {
		width: calc(100% - 90px);
		font: {
			family: $f-PN_bold;
		}
	}


	&__img-wrap,
	&__text-wrap {
		float: left;
	}


	&__btn {
		display: inline-block;
		@include mixinDimensions(224px, 43px);
		line-height: 40px;
		text-transform: uppercase;
		border: 2px solid $c-shakespeare;
		color: $c-shakespeare;
		font: {
			size: 18px;
			family: $f-PN_bold;
		}


		&:hover,
		&:active {
			border-color: $c-eclipse;
			color: $c-eclipse;
		}


		&:hover {
			background-color: $c-shakespeare;
			transition: all .3s ease-in-out;
		}


		&:active {
			background-color: $c-cerulean;
			@include respond-to(medium-all) {
				background-color: $c-shakespeare;
			}
		}


		&-wrap {
			padding: 20px;
			text-align: center;
			background-color: $c-white;
			margin-bottom: 50px;
		}
	}
}