///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
$c-eclipse          : return-value(color, eclipse);
$c-shakespeare      : return-value(color, shakespeare);
$c-cerulean         : return-value(color, cerulean);
$c-white_smoke      : return-value(color, white_smoke);

$f-PN_black         : return-value(fonts, PN_black);
$f-PN_bold          : return-value(fonts, PN_bold);
///
/// MAIN BLOCK
///
.advertising {


	&__top {
		max-width: 300px;
		height: 250px;
		margin-left: auto;
		margin-right: auto;
		background-color: $c-eclipse;
		margin-bottom: 40px;
		overflow: hidden;
		@include respond-to(extra-small) {
			max-width: 320px;
		}
	}


	&__title {
		font: {
			size: 25px;
			family: $f-PN_black;
		}
		text-transform: uppercase;
		color: $c-shakespeare;
		line-height: 1;
		position: relative;


		&:after {
			content: "";
			position: absolute;
			width: 100%;
			bottom: -3px;
			left: 1px;
			height: 8px;
			background-color: $c-shakespeare;
		}
	}


	&__item {
		min-height: 100px;
		padding: 30px 15px 20px 30px;
		background-color: $c-white;
		border-bottom: 1px solid darken($c-white_smoke, 5%);
	}


	&__img-wrap {
		width: 90px;
	}


	&__text-wrap {
		width: calc(100% - 90px);
		font: {
			family: $f-PN_bold;
		}
	}


	&__img-wrap,
	&__text-wrap {
		float: left;
	}


	&__btn {
		display: inline-block;
		@include mixinDimensions(224px, 43px);
		line-height: 40px;
		text-transform: uppercase;
		border: 2px solid $c-shakespeare;
		color: $c-shakespeare;
		font: {
			size: 18px;
			family: $f-PN_bold;
		}



		&:hover {
			background-color: $c-shakespeare;
		}


		&:focus {
			background-color: $c-cerulean;
			@include respond-to(medium-all) {
				background-color: $c-shakespeare;
			}
		}


		&:hover,
		&:focus {
			border-color: $c-eclipse;
			color: $c-eclipse;
			transition: all .3s ease-in-out;
		}


		&-wrap {
			padding: 20px;
			text-align: center;
			background-color: $c-white;
			margin-bottom: 50px;
		}
	}
}