///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";

@import "../_variable/sprite_dat";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
$c-cerulean         : return-value(color, cerulean);
$c-shakespeare      : return-value(color, shakespeare);
$c-dim_gray         : return-value(color, dim_gray);
$c-nobel            : return-value(color, nobel);
$c-eclipse          : return-value(color, eclipse);

$f-PN_black         : return-value(fonts, PN_black);
$f-PN_bold          : return-value(fonts, PN_bold);
///
/// MAIN BLOCK
///
.dictionary {
	position: relative;
	min-height: 360px;
	background-color: $c-white;
	border-top: 2px solid $c-cerulean;
	border-bottom: 2px solid $c-cerulean;
	margin-top: 100px;
	margin-bottom: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
	@include respond-to(small-all) {
		margin-top: 60px;
	}


	&__container {
		display: flex;
		align-items: center;
		min-height: 360px;
	}


	&__top {
		&_hidden {
			.dictionary__latter {
				display: none;
			}
		}
	}


	&__title {
		font: {
			size: 35px;
			family: $f-PN_black;
		}
		color: $c-cerulean;
		text-transform: uppercase;
		position: absolute;
		left: 15px;
		top: -70px;
		line-height: 1;


		&:hover {
			cursor: pointer;
			color: $c-shakespeare;
			transition: all .3s ease-in-out;
		}
	}


	&__latter {
		position: absolute;
		top: -67px;
		right: 15px;
		height: 27px;
		@include respond-to(large) {
			width: 700px;
		}
		@include respond-to(medium) {
			width: 500px;
			top: -(27 * 2) * 1px;
			height: (27 * 2) * 1px;
		}
		@include respond-to(small-all) {
			display: none;
		}
	}


	&__list {
		float: left;
		text-align: center;


		&.active {
			.dictionary__btn {
				border-left: 2px solid $c-cerulean;
				border-top: 2px solid $c-cerulean;
				border-right: 2px solid $c-cerulean;
				color: $c-cerulean;
				@include respond-to(medium) {
					border-bottom: 2px solid $c-cerulean;
				}
			}
		}
	}


	&__btn {
		float: left;
		text-transform: uppercase;
		border-left: 2px solid transparent;
		border-top: 2px solid transparent;
		border-right: 2px solid transparent;
		color: $c-dim_gray;
		@include mixinDimensions(27px);
		line-height: 25px;
		@include respond-to(large) {
			width: (700 / 33) * 1px;
		}
		@include respond-to(medium) {
			width: ((500 / 33) * 1px) * 1.9;
			border-bottom: 2px solid transparent;
		}


		&:hover {
			color: $c-shakespeare;
			transition: all .3s ease-in-out;
		}
	}


	&__row {
		display: none;
		flex-flow: wrap row;
		justify-content: center;


		&.active {
			display: flex;
		}
	}


	&__left,
	&__right {
		position: relative;
		width: 50%;
		padding: 20px 30px;
		padding-bottom: 63px;
	}


	&__left {
		display: none;


		&.active {
			display: block;
		}
		@include respond-to(medium) {
			width: 65%;
		}
		@include respond-to(small-all) {
			width: 100%;
			border-right: none;
			padding-right: 0;
		}
	}


	&__right {
		border-left: 1px solid $c-nobel;
		@include respond-to(medium) {
			width: 35%;
		}
		@include respond-to(small-all) {
			display: none;
		}
	}


	&__list-link {
		width: 50%;
		display: inline-block;
		margin-right: -.32em;
		@include respond-to(medium) {
			width: 100%;
		}


		&.hide {
			@include respond-to(medium) {
				display: none;
			}
		}
	}


	&__btn-link {
		display: inline-block;
		height: 40px;
		font-size: 18px;
		color: $c-cerulean;
	}


	&__sub-title {
		font: {
			size: 25px;
			family: $f-PN_bold;
		}
		margin-bottom: 40px;
		@include respond-to(small-all) {
			font-size: 20px;
		}


		&_first {
			position: relative;
			background-color: $c-cerulean;
			color: $c-white;
			padding: 5px 5px 5px 15px;


			&:after {
				content: "";
				position: absolute;
				top: -13px;
				right: -18px;
				@include retina-sprite($sp-i-dictionary-group);
			}
		}
	}


	&__sub-desc {
		font: {
			size: 18px;
		}
		margin-bottom: 40px;
		@include respond-to(small-all) {
			font-size: 16px;
		}


		&_first {
			position: relative;
			color: $c-cerulean;


			&:after {
				content: "";
				position: absolute;
				top: 1px;
				left: -25px;
				@include retina-sprite($sp-i-dictionary-group);
			}
		}
	}


	&__more {
		padding-right: 10px;


		&:after {
			content: "";
			position: absolute;
			top: 14px;
			right: 10px;
			@include retina-sprite($sp-i-triangle-group);
		}
	}


	&__more,
	&__add {
		position: absolute;
		@include mixinDimensions(224px, 43px);
		line-height: 43px;
		bottom: 20px;
		left: 30px;
		border: 2px solid $c-cerulean;
		text-align: center;
		text-transform: uppercase;
		color: $c-cerulean;
		font: {
			size: 18px;
			family: $f-PN_bold;
		}


		&:hover,
		&:active {
			border-color: $c-eclipse;
			color: $c-eclipse;
		}


		&:hover {
			background-color: $c-shakespeare;
			transition: all .3s ease-in-out;
		}


		&:active {
			background-color: $c-cerulean;
			@include respond-to(medium-all) {
				background-color: $c-shakespeare;
			}
		}
	}
}