///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";

@import "../_variable/sprite_dat";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
$c-black            : return-value(color, black);
$c-cerulean         : return-value(color, cerulean);
$c-shakespeare      : return-value(color, shakespeare);
$c-dim_gray         : return-value(color, dim_gray);
$c-nobel            : return-value(color, nobel);
$c-night_rider      : return-value(color, night_rider);

$f-PN_black         : return-value(fonts, PN_black);
$f-PN_bold          : return-value(fonts, PN_bold);
///
/// MAIN BLOCK
///
.footer {
	min-height: 225px;
	border-top: 2px solid $c-shakespeare;


	&__container {
		display: flex;
		align-items: center;
		min-height: 225px;
		@include respond-to(small-all) {
			flex-flow: wrap row;
			align-content: center;
		}
	}


	&__logo,
	&__menu,
	&__copyright,
	&__btn {
		float: left;
		@include respond-to(small-all) {
			float: none;
		}
	}


	&__menu {
		@include mixinDimensions(525px, 56px);
		border-top: 2px solid $c-night_rider;
		border-right: 2px solid $c-night_rider;
		border-bottom: 2px solid $c-night_rider;
		@include respond-to(medium-all) {
			display: none;
		}
	}


	&__list {
		height: 54px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}


	&__item-btn {
		font-family: $f-PN_bold;
		text-transform: uppercase;
		color: $c-night_rider;
		@include respond-to(large) {
			font-size: 14px;
		}
	}


	&__copyright {
		display: flex;
		justify-content: space-around;
		align-items: center;

		@include mixinDimensions(310px, 56px);
		background-color: $c-night_rider;
		@include respond-to(medium) {
			width: 354px;
		}
		@include respond-to(small-all) {
			width: 100%;
			order: 2;
		}


		&-text {
			color: $c-white;
		}
	}


	&__icon {
		@include retina-sprite($sp-i-logo-septa-group);
	}


	&__btn {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include mixinDimensions(261px, 56px);
		background-color: $c-night_rider;
		@include respond-to(small-all) {
			width: calc(100% - 74px);
			justify-content: flex-start;
		}


		&-subscribe {
			@include mixinDimensions(203px, 56px);
			line-height: 54px;
			border: 2px solid $c-night_rider;
			background-color: $c-shakespeare;
			text-transform: uppercase;
			color: $c-white;
			text-align: center;
			font: {
				size: 18px;
				family: $f-PN_bold;
			}
			@include respond-to(small-all) {
				width: calc(100% - ((261 - 203) * 1px));
				border-top: 2px solid $c-night_rider;
				border-right: 2px solid $c-night_rider;
				border-bottom: 2px solid $c-night_rider;
				border-left: 1px solid $c-night_rider;
			}


			&:active {
				background-color: $c-cerulean;
			}


			&:hover,
			&:active {
				color: $c-night_rider;
				transition: all .3s ease-in-out;
			}
		}


		&-fb {
			position: relative;
			@include mixinDimensions((261 - 203) * 1px, 56px);
			background-color: $c-night_rider;
			@include respond-to(small-all) {
				border-top: 2px solid $c-night_rider;
				border-right: 2px solid $c-night_rider;
				border-bottom: 2px solid $c-night_rider;
				background-color: $c-shakespeare;
			}


			&:before {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				@include retina-sprite($sp-i-fb-group);
			}
		}
	}
}


/* logotype footer */
.footer {
	&__logo {
		width: 74px;
	}


	&__img {
		&_retina {
			display: none;
		}
	}
}
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
	.footer {
		&__img {
			&_normal {
				display: none;
			}
			&_retina {
				display: block;
			}
		}
	}
}