///
/// IMPORT BLOCK
///
@import "../../_mixin/mixin";
@import "../../_function/function";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
///
/// MAIN BLOCK
///
.logotype {
	cursor: pointer;


	&__img-mobile {
		width: 221px;
		display: none;
	}


	&__img {
		@include respond-to(small-all) {
			display: none;
		}


		&_normal {
			@include respond-to(small-all) {
				display: block;
			}
		}
	}
}



@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
	.logotype {
		&__img{
			&_normal {
				display: none;
			}
			&_retina {
				@include respond-to(small-all) {
					display: block;
				}
			}
		}
	}
}