
header.header.animated
    .container

        .header__row.clearfix

            .header__left.clearfix
                include macros/logotype

            .header__right.clearfix


                a(
                    href="javascript:void(0);"
                    title=""
                    class="header__btn btn-dictionary"
                )!= "Словарь"


                include macros/lang

                include macros/search

                include macros/nav