include _mixin/mixin


doctype html
html(lang="en")


    +headSite("Datification", linkSite.styleLinkInternal, "")


    body

        //- BLOCK HEADER [nav, bottomInfo, logo, slogan]
        block header
            include ./_template/header


        .blocks.blocks__internal
            .container.clearfix.blocks__fixed
                .blocks__left
                    include ./_template/description

                .blocks__right
                    .advertising__block

                    p.main__title!= "похожие статьи"

                    +blockNewsLoop("blocks__row_column", 3, 2, "block_hide")

        .comments
            .container

        //- BLOCK FOOTER
        block footer
            include ./_template/footer


        - for(var i = 0; i < linkSite.scriptLinkInternal.length; i++)
            script(src= linkSite.scriptLinkInternal[i])