@font-face {
	font-family: 'Proxima Nova Black';
	src: url("../fonts/Proxima Nova Black.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Bold';
	src: url("../fonts/Proxima Nova Bold.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Extrabold';
	src: url("../fonts/Proxima Nova Extrabold.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Light';
	src: url("../fonts/Proxima Nova Light.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Regular';
	src: url("../fonts/Proxima Nova Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Semibold';
	src: url("../fonts/Proxima Nova Semibold.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Thin';
	src: url("../fonts/Proxima Nova Thin.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
// ==========
@font-face {
	font-family: 'ProximaNovaCond-Black';
	src: url("../fonts/ProximaNovaCond-Black.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaCond-Bold';
	src: url("../fonts/ProximaNovaCond-Bold.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaCond-Reg';
	src: url("../fonts/ProximaNovaCond-Reg.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
// ==========
@font-face {
	font-family: 'ProximaNovaExCn-Black';
	src: url("../fonts/ProximaNovaExCn-Black.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaExCn-Bold';
	src: url("../fonts/ProximaNovaExCn-Bold.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaExCn-Light';
	src: url("../fonts/ProximaNovaExCn-Light.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaExCn-Reg';
	src: url("../fonts/ProximaNovaExCn-Reg.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaExCn-Sbold';
	src: url("../fonts/ProximaNovaExCn-Sbold.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaExCn-Thin';
	src: url("../fonts/ProximaNovaExCn-Thin.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaExCn-Xbold';
	src: url("../fonts/ProximaNovaExCn-Xbold.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}